Repository jolution/le-checkout-jira: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, stylelint, check, spelling, markdown-link-check

type-check:
  run: npm typecheck {staged_files}

stylelint:
  run: npx stylelint {staged_files}

check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

spelling:
  run: npx cspell {staged_files}

markdown-link-check:
  run: npx markdown-link-check {staged_files}

ci: relocate branch protection
  .lefthook-local/pre-commit/branch-protection
  .lefthook.yml
  package-lock.json
  package.json
Due: check

ci: relocate branch protection
  .lefthook.yml
Due: none

ci: rename checks
  .lefthook.yml
Due: none

style: run biome formater
  .cspell.json
  .lefthook.yml
  biome.json
  components/config.js
  components/content/content.js
  components/content/inject.js
  components/content/language.js
  components/content/translation.js
  components/content/utils.js
  components/popup/popup.js
  package-lock.json
  package.json
  project-words.txt
Due: stylelint, check, spelling

style: run biome formater
  .lefthook.yml
Due: none

ci: add gitleaks
  .github/workflows/gitleaks.yml
  .lefthook.yml
Due: none

docs: optimate disclaimer part
  README.md
Due: spelling, markdown-link-check

refactor: remove unneeded linting
  .lefthook.yml
  package-lock.json
  package.json
  project-words.txt
Due: check

chore: set version
  .gitignore
  manifest.json
Due: check

refactor: optimate folder structure
  manifest.json
  package.json
  public/icons/icon128.png
  public/icons/icon16.png
  public/icons/icon256.png
  public/icons/icon32.png
  public/icons/icon64.png
Due: check

fix: replace umlauts
  components/content/content.js
Due: stylelint, check, spelling

docs: update instruction
  README.md
Due: spelling, markdown-link-check

docs: update instruction
  .cspell.json
  .lefthook.yml
  PRIVACY_POLICY.md
  README.md
  manifest.json
  package-lock.json
  package.json
  resources/png/le-checkout-social-banner-big.png
  resources/png/le-checkout-social-banner-small.png
  resources/png/le-checkout-social-store-symbol.png
  screenshot.png
  screenshot2.png
  screenshot3.png
Due: check, spelling, markdown-link-check

chore: set correct image size
  resources/png/le-checkout-social-banner-big.png
Due: none

chore: set correct name
  manifest.json
Due: check

fix: remove unused access to tabs and activeTab
  .stylelintrc.json
  PRIVACY_POLICY.md
  README.md
  components/content/content.css
  manifest.json
  package.json
Due: check, spelling, markdown-link-check

feat: add firefox support
  components/config.js
  components/content/content.js
  manifest.json
  package-lock.json
  package.json
Due: stylelint, check, spelling

refactor: remove unused semantic versioning
  .github/workflows/release.yml
  .releaserc.js
  package-lock.json
  package.json
Due: stylelint, check, spelling

refactor: remove unused overrides
  package.json
Due: check

docs: set chrome store url
  README.md
  resources/png/screenshot.png
  resources/png/screenshot2.png
Due: spelling, markdown-link-check

docs: set firefox store url
  README.md
Due: spelling, markdown-link-check

Path conditions:
  type-check: any of: *.{ts,tsx}
  stylelint: any of: *.{js,ts,jsx,tsx}
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  spelling: any of: *.{js,ts,jsx,tsx,md}
  markdown-link-check: any of: *.md
